body{
    height:100vh;
    background: rgb(187, 200, 197);
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
}
.calculator{
    background: rgb(39, 97, 148);
    padding:20px;
    border-radius: 10px;
    width:260px;

}
.display{
    background: black;
    color:white;
    font-size: 2rem;
    padding:10px;
    text-align:right;
    margin-bottom:10px;
    border-radius:5px;
}
.buttons{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:8px;
}
button{
    padding:15px;
    font-size:1.2rem;
    border:none;
    border-radius:5px;
    cursor:pointer;
}
.operator{
    color: red;
    color: green;
}
.equals{
    background:rgb(58, 20, 173);
    color: white;
}
.clear{
    background:red;
    color:white;
}
.delete{
    background:gray;
    color:white;
}
.zero{
    grid-column: span 2;
}